<main>
    <article>
  
      <!-- 
          - #HERO
        -->
  
      <section class="hero" id="home" aria-label="home">
        <div class="container" style="margin-bottom: 50px;">
  
          <div class="hero-content">
  
            <h1 class="headline headline-1 section-title">
              Welcome to <span class="span">Wren Blog</span>
            </h1>
  
            <!-- <p class="hero-text">
                  Explore a wide range of topics updated weekly to enrich your daily reading experience. Join our community and discover something new with every visit!
              </p> -->
  
              <div class="input-wrapper">
                <input
                  type="text"
                  name="blogs"
                  placeholder="Search the articles"
                  required
                  class="input-field"
                  autocomplete="off"
                  [(ngModel)]="searchInputThisPage" 
                >
                <button class="btn btn-primary" (click)="onSearch()">
                  <span class="span">Search</span>
                </button>
              </div>  
  
          </div>
  
          <div class="hero-banner">
  
            <img src="./assets/images/blog-icon.png" width="327" height="490" alt="Wren Clark" class="w-100">
  
            <img src="./assets/images/pattern-2.svg" width="27" height="26" alt="shape" class="shape shape-1">
  
            <img src="./assets/images/pattern-3.svg" width="27" height="26" alt="shape" class="shape shape-2">
  
          </div>
  
          <img src="./assets/images/shadow-1.svg" width="500" height="800" alt="" class="hero-bg hero-bg-1">
  
          <img src="./assets/images/shadow-2.svg" width="500" height="500" alt="" class="hero-bg hero-bg-2">
  
        </div>
      </section>
  
      <!-- 
          - #FEATURED POST
        -->
  
      <section class="section feature" aria-label="feature" id="featured">
        <div class="container">
  
          <h2 class="headline headline-2 section-title">
            <span class="span">All articles</span>
          </h2>
  
          <p class="section-text">
            Featured and highly rated articles
          </p>
          <ul class="feature-list">
  
            <li *ngFor="let article of articles">
              <div class="card feature-card">
                <figure class="card-banner img-holder" style="--width: 1602; --height: 903;">
                  <img [src]="article.image" [alt]="article.title" width="1602" height="903" loading="lazy"
                    class="img-cover">
                </figure>
  
                <div class="card-content">
                  <div class="card-wrapper">
  
                    <div class="wrapper">
                      <!-- Danh mục bài viết -->
                      <a [href]="'/categories/' + article.category.id" class="card-category">
                        {{ article.category.name }}
                      </a>
                    </div>
                  </div>
  
                  <h3 class="headline headline-3">
                    <a [href]="'/blog-detail/' + article.id" class="card-title hover-2">
                      {{ article.title }}
                    </a>
                  </h3>
  
                  <div class="card-wrapper">
                    <!-- Thông tin tác giả -->
                    <div class="profile-card">
                      <img [src]="article.author.profileImage" width="48" height="48" loading="lazy"
                        [alt]="article.author.name" class="profile-banner">
                      <div>
                        <p class="card-title">{{ article.author.name }}</p>
                        <p class="card-subtitle">{{ article.createdAt | date: 'mediumDate' }}</p>
                      </div>
                    </div>
  
                    <!-- Nút xem thêm -->
                    <a [href]="'/blog-detail/' + article.id" class="card-btn">Read more</a>
                  </div>
                </div>
              </div>
            </li>
  
          </ul>
        </div>
  
        <img src="./assets/images/shadow-3.svg" width="500" height="1500" loading="lazy" alt="" class="feature-bg">
      </section>
  
    </article>
  </main>