.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language-select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #BAE1F2;
  font-size: 18px;
  background-color: var(--bg-oxford-blue-2);
  /* Màu nền */
  color: #BAE1F2;
  /* Màu chữ */
}

.custom-placeholder::placeholder {
  color: #BAE1F2;
  /* Màu của placeholder */
  font-style: italic;
  /* Kiểu chữ nghiêng (tùy chọn) */
  opacity: 0.7;
  /* Độ mờ (tùy chọn) */
}

.blog-meta {
  text-align: left;
  /* Align author and date to the left */
  margin-bottom: 20px;
  font-size: 1.2rem;
  /* Increased font size for meta info */
  color: #9ca3af;
  /* Grey meta text */
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center the image */
  margin: 30px 0;
}

.blog-image {
  max-width: 100%;
  /* Ensure image doesn't overflow */
  height: auto;
  /* Maintain aspect ratio */
  border-radius: 10px;
  margin-bottom: 10px;
}

.image-caption {
  font-size: 1.3rem;
  /* Slightly larger caption font */
  color: #9ca3af;
  text-align: center;
  /* Caption centered below image */
}

.blog-content {
  font-size: 1.4rem;
  /* Increased font size for content */
  line-height: 1.8;
  /* Improved readability with line spacing */
  color: #d1d5db;
  text-align: justify;
  /* Justify text for a cleaner appearance */
  margin-top: 20px;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: #f1f1f1;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  min-width: 160px; /* Fix width of the button */
  height: 40px; /* Set a fixed height for the button */
}

.dropdown-btn img {
  margin-right: 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px; /* Fix width of the dropdown */
  max-height: 200px; /* Set a maximum height for the dropdown */
  overflow-y: auto; /* Enable scrolling if the content exceeds max height */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid #ccc;
}

.custom-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content div {
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-content div:hover {
  background-color: #ddd;
}

.dropdown-content div img {
  margin-right: 8px;
}
